@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl md:text-4xl py-6 font-extrabold mb-4 tracking-tighter;
  }
}

.background-gradient {
  background-image: url("/radialbgg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 768px) {
  .background-gradient {
    background-position-y: -150px;
  }
}
